body.dark-mode,
body.dark-mode .acompanhe span,
body.dark-mode .acompanhe label {
    background: var(--clr-black);
}

body.dark-mode,
body.dark-mode .metrics h3,
body.dark-mode .subtitle,
body.dark-mode .acompanhe input {
    color: var(--clr-white);
}

body.dark-mode .subtitle,
body.dark-mode .carrossel {
    background-color: var(--clr-white-lowOpac);
}

body.dark-mode .cargos__abertos__item,
body.dark-mode form .btn {
    color: var(--clr-black);
    background-color: var(--clr-white);
}

/* Nav Styles */
body.dark-mode > header { background: var(--clr-black); }
body.dark-mode > header a { color: var(--clr-white); }

body.dark-mode > header.scroll-active { background: var(--clr-white-lowOpac); }
body.dark-mode > header.scroll-active a:not(a.btn) { color: var(--clr-white); }
body.dark-mode > header.scroll-active a:hover:not(a.btn) { color: var(--clr-gray); }