* {
    scroll-behavior: smooth;
}

:root {
    --clr-basis: #2D0B00;
    --clr-basis-lowOpac:  #8E24240D; 
    --clr-black: #160000;
    --clr-black-lowOpac: #10182814;
    --clr-white: #fcf7f6;
    --clr-white-lowOpac: #f8ecec7e;
    --clr-gray: #818181;
}

body,
a,
button {
    font-family: "Inter", sans-serif;
    color: var(--clr-black);
}

body {
    background: var(--clr-white);
    margin: 2em 3em 0 3em;
}

h2,
p,
span {
    width: clamp(15ch, 80%, 50ch);
}

h1 { font-size: 3.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
p { font-size: 1rem; }

footer {
    padding-bottom: 2em;
    text-align: center;
}

/* general classes */
.flex {
    display: flex;
    align-items: center;
}

.btn {
    background: var(--clr-basis);
    color: var(--clr-white);
    font-weight: bold;
    padding: .7em 1.1em;
    border-radius: .5em;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px var(--clr-basis-lowOpac);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 5em;
}

.subtitle {
    background: var(--clr-basis-lowOpac);
    color: var(--clr-basis);
    font-weight: 600;
    font-size: .9rem;
    padding: .3em .6em;
    border-radius: 1em;
}