/* correction large span width */
.metrics span {
    width: 10em;
}

.metrics {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3em 0;
}

.metrics div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em;
}

.metrics div h3 {
    font-size: 3rem;
    color: var(--clr-basis);
}

.metrics div span {
    font-weight: bold;
}

.metrics div p {
    width: 20ch;
}