/* general */
body > header,
nav {
    width: 100%;
}

body > header a {
    color: var(--clr-gray);
    font-weight: 500;
    transition: 0.3s;
}

body > header a:hover:not(a.btn) {
    color: var(--clr-black);
}

/* header */
body > header {
    width: 100%;
    justify-content: space-between;
    padding: 1em;
}

.left-side,
.buttons,
nav ul {
    gap: 2em;
}
